<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129388690706-6ng47aa1m6rfsd26c9tif3fs03j81okv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129388690706-6ng47aa1m6rfsd26c9tif3fs03j81okv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>129388690706-dk75kh5284so8bs09ua4d7ag61qvku52.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzDqvQD5ipzzflcqftji8ztcjHbvrp958</string>
	<key>GCM_SENDER_ID</key>
	<string>129388690706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.serviceApp</string>
	<key>PROJECT_ID</key>
	<string>service-app-38f96</string>
	<key>STORAGE_BUCKET</key>
	<string>service-app-38f96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129388690706:ios:eeab88bf508342e1f407cb</string>
</dict>
</plist>